{% if request.user.is_authenticated %}
    <div class="sidebar-box">
        <div class="sidebar-section">
            Hello, {{ request.user.username }}
        </div>


        <div class="sidebar-section">
            <div class="side-nav">
                <a class="side-nav-item" href="{% url 'user_profile' %}">Profile</a>
                <a class="side-nav-item" href="{% url 'user_feed' %}">Feed</a>
                <a class="side-nav-item" href="{% url 'messages' %}">Messages</a>
            </div>
        </div>
    </div>

    [ads here]
{% else %}
    {# login form here #}   
{% endif %}