{% if request.user.is_authenticated %}
    <div class="sidebar-box">
        <div class="sidebar-section">
            Hello, {{ request.user.username }}
        </div>


        <div class="sidebar-section">
            <div class="side-nav">
                <a class="side-nav-item" href="{% url 'user_profile' %}">Profile</a>
                <a class="side-nav-item" href="{% url 'user_feed' %}">Feed</a>
                <a class="side-nav-item" href="{% url 'messages' %}">Messages</a>
            </div>
        </div>

        <div class="sidebar-section">
            <a href="{% url 'auth_logout' %}">logout</a>
        </div>
    </div>

    [ads here]
{% else %}
    <div class="sidebar-box">
        <div class="sidebar-section">
            Hello, anon
            <div>
                <a href="{% url 'auth_login' %}">Login</a>
            </div>
        </div>
    </div>
{% endif %}