{% extends "base.html" %}

{% load staticfiles %}

{% block "content" %}
    
    <div class="user-profile">
        <div class="left-column user-details">
            {% if user.profile_pic %}
                <img class="avatar" src="{{ user.profile_pic.url }}"/>
            {% else %}
                <img class="avatar" src="{% static 'img/placeholder-image.png' %}"/>
            {% endif %}
            <div class="section user-info-card">
                <p class=" username">
                    @{{ user.username }}
                </p>
                
                {% if user.birth_date %}
                    <p class="birth-date">
                        Born: {{ user.birth_date }}
                    </p>
                {% endif %}
                
                {% if user.location %}
                    <p class="location">
                        Location: {{ user.location }}
                    </p>
                {% endif %}

            
                {% if request.user %}
                    {% if user.pk == request.user.pk %}
                        
                        <a href="{% url 'user_edit' %}">Edit</a>
                    
                    {% else %}

                        {{request.user.subscribed_to}}

                        {% if user in request.user.subscribed_to %}
                            <a href="{% url 'user_unsubscribe' user.pk %}">Unsubscribe</a>
                        {% else %}
                            <a href="{% url 'user_subscribe' user.pk %}">Subscribe</a>
                        {% endif %}

                    {% endif %}
                {% endif %}
            </div> 
        </div>

        <div class=" page-content user-page-content">

                <h3 class="full-name">
                    {{ user.first_name }}
                    {{ user.last_name }}
                </h3>

                
                {% if user.bio %}
                    <p class="bio">
                        {{ user.bio }}
                    </p>
                {% endif %}

            <ul class="user-nav">
                <li class="tab user-nav-item" data-tab="board">
                    <a href="{% url "user_detail" user.username %}">Board</a>
                </li>
                <li class="tab user-nav-item" data-tab="subscribers">
                    <a href="{% url "user_detail_subscribers" user.username %}">
                        Subscribers
                        <span class="counter-label">{{ user.subscribers|length }}</span>
                    </a>
                </li>
                <li class="tab user-nav-item" data-tab="subscribed">
                    <a href="{% url "user_detail_subscribed" user.username %}">
                        Subscribed
                        <span class="counter-label">{{ user.subscribed_to_users|length }}</span>
                    </a>
                </li>
                <li class="tab user-nav-item" data-tab="subscribed">
                    <a href="{% url "user_detail_communities" user.username %}">
                        Communities
                        <span class="counter-label">{{ user.subscribed_to_communities|length }}</span>
                    </a>
                </li>
                <li class="tab user-nav-item" data-tab="liked">
                    <a href="{% url "user_detail_liked" user.username %}">
                        Liked
                        <span class="counter-label">{{ user.liked_objects|length }}</span>
                    </a>
                </li>
            </ul>

            <div class="user-details">
                {% block "user_tab" %}
                    <div id="board" class="tab-content show">
                        <div class="board user-board">
                            <div class="posts-grid">
                                {% if user.userpost_set.all %}
                                    {% with posts_list=user.userpost_set.all %}
                                        {% include "posts/partials/post_list.html" %}
                                    {% endwith %}
                                {% else %}
                                    <span class="section-placeholder no-data">No posts here yet...</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endblock %}

            </div>
        </div>

    </div>

{% endblock %}