{% extends "base.html" %}

{% block "content" %}
    
    <div class="user-profile">
        {% if user.profile_pic %}
            <img class="avatar" src="{{ user.profile_pic.url }}"/>
        {% else %}
            <img class="avatar" src="http://lorempixel.com/250/400/people/"/>
        {% endif %}
        <h3 class="title full-name">
            {{ user.first_name }}
            {{ user.last_name }}
        </h3>
        <p class=" username">
            @{{ user.username }}
        </p>
        <p class="birth-date">
            Born: {{ user.birth_date }}
        </p>
        
        {% if request.user %}
            {% if user.pk == request.user.pk %}
                <a href="{% url 'user_edit' %}">Edit</a>
            {% endif %}
        {% endif %}

        {% if request.user %}
            {% if user.pk != request.user.pk %}
                <a href="{% url 'user_subscribe' user.pk %}">Subscribe</a>
            {% endif %}
        {% endif %}

        <hr>
        <div class="board user-board">
            <h3>{{ user.username }}'s board</h3>
            {# TODO: Include some generic template here #}
            <div class="posts-grid">
                {% for post in user.userpost_set.all %}
                    <div class="post-item">
                        {{ post.title }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}