{% extends "base.html" %}

{% load staticfiles %}

{% block "content" %}
    
    <div class="user-profile">
        <div class="left-column user-details">
            {% if user.profile_pic %}
                <img class="avatar" src="{{ user.profile_pic.url }}"/>
            {% else %}
                <img class="avatar" src="{% static 'img/placeholder-image.png' %}"/>
            {% endif %}
            <div class="section user-info-card">
                <p class=" username">
                    @{{ user.username }}
                </p>
                
                {% if user.birth_date %}
                    <p class="birth-date">
                        Born: {{ user.birth_date }}
                    </p>
                {% endif %}
                
                {% if user.location %}
                    <p class="location">
                        Location: {{ user.location }}
                    </p>
                {% endif %}

            
                {% if request.user %}
                    {% if user.pk == request.user.pk %}
                        
                        <a href="{% url 'user_edit' %}">Edit</a>
                    
                    {% else %}

                        {{request.user.subscribed_to}}

                        {% if user in request.user.subscribed_to %}
                            <a href="{% url 'user_unsubscribe' user.pk %}">Unsubscribe</a>
                        {% else %}
                            <a href="{% url 'user_subscribe' user.pk %}">Subscribe</a>
                        {% endif %}

                    {% endif %}
                {% endif %}
            </div> 
        </div>

        <div class=" page-content user-page-content">

                <h3 class="full-name">
                    {{ user.first_name }}
                    {{ user.last_name }}
                </h3>

                
                {% if user.bio %}
                    <p class="bio">
                        {{ user.bio }}
                    </p>
                {% endif %}

            <ul class="user-nav">
                <li class="tab user-nav-item" data-tab="board">
                    <a href="#">Board</a>
                </li>
                <li class="tab user-nav-item" data-tab="subscribers">
                    <a href="#">
                        Subscribers
                        <span class="counter-label">{{ user.subscribers|length }}</span>
                    </a>
                </li>
                <li class="tab user-nav-item" data-tab="subscribed">
                    <a href="#">
                        Subscribed
                        <span class="counter-label">{{ user.subscribed_to|length }}</span>
                    </a>
                </li>
            </ul>

            <div class="user-details">

                <div id="board" class="tab-content show">
                    <div class="board user-board">
                        <div class="posts-grid">
                            {% with posts_list=user.userpost_set.all %}
                                {% include "posts/partials/post_list.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <div id="subscribers" class="tab-content">
                    {% with users=user.subscribers %}
                        {% include "users/partials/user_list.html" %}
                    {% endwith %}
                </div>

                <div id="subscribed" class="tab-content">
                    {% with users=user.subscribed_to %}
                        {% include "users/partials/user_list.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}