{% extends "base.html" %}

{% block "content" %}

    {% for user in users %}
        <div class="user-card">
            <div class="avatar">
                {% if user.profile_pic %}
                    <img class="avatar" src="{{user.profile_pic}}"/>
                {% else %}
                    <img class="avatar" src="http://lorempixel.com/100/100/people/"/>
                {% endif %}
            </div>
            <div class="full-name">
                {{ user.first_name }}
                {{ user.last_name }}
            </div>
            <div class="username">
                @{{ user.username }}
            </div>
            <div class="location">
                {{ user.location }}
            </div>

            <hr>
        </div>
    {% endfor %}

{% endblock %}