{% load staticfiles %}

<div class="entities-list-item post-list-item">
    <div class="card card-vertical">
        <div class="card-thumbnail">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt="">
            {% endif %}
        </div>
        <div class="card-content">
            {% if post.title %}
                <h4 class="card-title post-title"><a href="{% url 'user_post_detail' post.pk %}">{{ post.title }}</a></h4>
            {% endif %}

            {% if post.excerpt %}
                <div class="card-text post-content">{{ post.excerpt }}</div>
            {% else %}
                <div class="card-text post-content">{{ post.content|truncatewords:15 }}...</div>
            {% endif %}
            
            <div class="card-footer">
                <div class="card-author">
                    {% if post.user %}
                        {% if post.user.profile_pic %}
                            <img src="{{ post.user.profile_pic.url }}" alt="">
                        {% endif %}
                        <a href="{% url 'user_detail' post.user.username %}">
                            {{ post.user.first_name }}
                            {{ post.user.last_name }}
                        </a>
                    {% else %}
                        {% if post.community.avatar_pic %}
                            <img src="{{ post.community.avatar_pic.url }}" alt="">
                        {% endif %}
                        <a href="{% url 'user_detail' post.community.short_link_or_id %}">
                            {{ post.community.title }}
                        </a>
                    {% endif %}
                </div>
                
                {% with object=post %}
                    {% include "likes/like_button.html" %}
                {% endwith %}

                <span class="card-date date">{{ post.created_at }}</span>

                {% if post.user %}
                    <a class="card-link" href="{% url 'user_post_detail' post.pk %}">more...</a>
                {% else %}
                    <a class="card-link" href="{% url 'community_post_detail' post.community.short_link_or_id post.pk %}">more...</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>