<div class="post-list-item">
    <div class="card card-vertical">
        <div class="card-thumbnail">
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt="">
            {% endif %}
        </div>
        <div class="card-content">
            {% if post.title %}
                <h4 class="card-title post-title"><a href="{% url 'user_post_detail' post.pk %}">{{ post.title }}</a></h4>
            {% endif %}

            {% if post.excerpt %}
                <div class="card-text post-content">{{ post.excerpt }}</div>
            {% else %}
                <div class="card-text post-content">{{ post.content|truncatewords:15 }}...</div>
            {% endif %}
            
            <div class="card-footer">
                <div class="card-author">
                    <img src="{{ post.user.profile_pic.url }}" alt="">
                    <a href="{% url 'user_detail' post.user.username %}">
                        {{ post.user.first_name }}
                        {{ post.user.last_name }}
                    </a>
                </div>
                <span class="card-date date">{{ post.created_at }}</span>
                <a class="card-link" href="{% url 'user_post_detail' post.pk %}">more...</a>
            </div>
        </div>
    </div>
</div>