{% extends "base.html" %}

{% block "content" %}

    {% with post=object %}
        <div class="post">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt="">
            {% endif %}
            <div class="post-content">{{ post.content }}</div>
        </div>

        {% if request.user %}
            {% if post.user %}
                {% if post.user == request.user %}
                    <a href="{% url 'user_post_edit' post.pk %}">Edit</a>
                    <a href="{% url 'user_post_delete' post.pk %}">Delete</a>
                {% endif %}
            {% endif %}
            {# TODO if community post #}
        {% endif %}
    {% endwith %}
{% endblock %}