{% extends "base.html" %}

{% load md_tags %}

{% block "content" %}

    {% with post=object %}
        <div class="post">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt="">
            {% endif %}
            <div class="post-content">{{ post.content|markdown }}</div>
        </div>

        {% if request.user %}
            {% if post.user %}
                {% if post.user == request.user %}
                    <a href="{% url 'user_post_edit' post.pk %}">Edit</a>
                    <a href="{% url 'user_post_delete' post.pk %}">Delete</a>
                {% endif %}
            {% else %}
                {% if post.community.admin == request.user %}
                    {% if post.community.short_link %}
                        <a href="{% url 'community_post_edit' post.community.short_link post.pk %}">Edit</a>
                        <a href="{% url 'community_post_delete' post.community.short_link post.pk %}">Delete</a>
                    {% else %}
                        <a href="{% url 'community_post_edit' post.community.pk post.pk %}">Edit</a>
                        <a href="{% url 'community_post_delete' post.community.pk post.pk %}">Delete</a>
                    {% endif %}
                {% endif %}
            {% endif %}

            <div>Comments</div>

            <div class="comment-form-wrapper">
                <form action="{% url 'comment_add' %}" method="POST">
                    {% csrf_token %}

                    {% if post.user %}
                        <input type="hidden" name="post-type" value="user-post">
                    {% else %}
                        <input type="hidden" name="post-type" value="community-post">
                    {% endif %}
                    <input type="hidden" name="post-id" value="{{ post.pk }}">
                    <textarea name="comment-content" rows="4"></textarea>
                    <button type="submit" class="btn add-comment">Add comment</button>
                </form>
            </div>

            {% with comments=post.comments.all %}
                {% include 'comments/comments_tree.html' %}
            {% endwith %}

        {% endif %}
    {% endwith %}
{% endblock %}